@media (max-width: 1280px) {
  .jogos {
    margin-bottom: 50px;
  }

  .jogos .container-jogos {
    padding: 0 30px;
  }
}

@media (max-width: 1024px) {
  .jogos .container-jogos {
    max-width: 760px;
  }
}

@media (max-width: 836px) {
  .jogos .container-jogos {
    max-width: 370px;
  }
}
